*{
    margin: 0px;
    padding: 0px;
}
body{
    background:linear-gradient(red,green);
    height: 100vh;
   
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section ul{
    padding: 25px;
    margin: 25px;
    background-color: rgba(85, 85, 66,.2);
    border-radius: 13px;
    border:3px orange solid;
}
ul li{
    
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: white;
    background-color: rgba(179, 117, 64,.4);
    border-radius: 13px;
    border:3px orange solid;
}
a{
    text-decoration: none;
    color: white;
}